<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #image-container {
        width:100%;
        height:800px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }



</style>
<body>
<div id='image-container' style="background-image: url('https://searchad-phinf.pstatic.net/MjAyMzAzMzFfMTEg/MDAxNjgwMjUwODc1NjU2.4TRR8ieQfqWLOuUX9cGmeILVY14_pIS2eeXkHEyN1Cgg.S4ek2uSLnEfRy2YCxFYjBkwRQ-oBIP9bATQh-5m80OEg.PNG/132584-f9454ed3-69fd-4eea-a0c5-1938034085e1.png?type=f160_160')"></div>
</body>

</html>